*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
/out/
**/*.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/copyright
.idea/**/.name
.idea/**/sonarlint
.idea/**/libraries
.idea/**/deployment.xml
.idea/**/encodings.xml
.idea/**/misc.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
